.Hero{
    margin-top: 10vh;
}
.Hero h2{
    font-weight: 900;
    letter-spacing: -1px;
}
.Hero button{
    background-color: hsl(180, 66%, 49%);
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 22px;
    border-radius: 50px;
    font-weight: 600;
    color: white;
}
.Hero .left{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: left;

    padding-top: 30px;
}
.Hero .row{
    min-height: 80vh;
}
.Hero p{
    color:hsl(0, 0%, 75%);
}



@media only screen and (max-width: 400px) {
    .Hero .row{
        display: flex;
        flex-direction: column-reverse;
    }
}