.footer{
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: black;
    color:white;
}
.footer ul{
    list-style: none;
    line-height: 2;
    color: grey;
}
.footer h4{
    padding-bottom:10px;
}
.footer .social img{
    cursor:pointer;
    padding: 10px 10px;
}